#title{
  background-color: #ccc;

}
 h1{
   font-family: Montserrant-bnlack;
   font-size: 3rem;
   line-height: 1.5;
 }

h2{
  font-family: Montserrant-bold;
  font-size: 3rem;
  line-height: 1.5;
}
 h3{
   font-family: Montserrant-bold;
   font-size: 3rem;
   line-height: 1.5;
 }


.container-fluid{
  padding: 3% 15%;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);
}
#features{
  padding: 7% 15%;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ccc;
}
#testimonial{
  padding: 7% 15%;
  text-align: center;
  background-color:  #ccc;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color:  #ccc;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.tingu{
  background-color: #ccc;
  margin: 30px;
padding: 30px;
}
.lilly-1{
  background-color: pink;
}
#pricing{
  padding: 7% 15%;
  text-align: center;
}
#cta{
  padding: 7% 15%;
  text-align: center;
  background-color: #ccc;
}
#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
}
